.heading {
width: 100%;
margin: 0px;
font-size: 23px;
box-shadow:5px 5px 5px grey ;
}
.note {
font-size: 15px;
color: black;
}
.copy_right_footer {
position: fixed;
width: 100%;
bottom: 0%;
box-shadow: 5px 5px 5px white;
text-align: center;
background-color: grey;
color: white;
line-height: 3;
}
canvas {
border: 5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px white;
}